<div class="container">
<div class="mainadmin">
  <h2>Add tours</h2>
  <%= form_for current_user.tours.build, url: admin_tours_path, method: :post, class: "form-horizontal", :html => {:multipart => true} do |f| %>
      <%= f.text_field :name, class: "form-control",
                placeholder: t(".name") %> <br/>
      <%= f.text_area :description, class: "form-control",
                placeholder: t(".mota") %> <br/>

      <%= f.number_field :price, class: "form-control",
                placeholder: t(".price") %> <br/>

      <%= f.file_field :image, class: "form-control",
                placeholder: t(".image") %> <br/>

      <%= f.hidden_field :user_id, value: current_user.id %>

      <%= collection_select :tour, :place_id, @places, :id, :name,
         {prompt: "select country"}, {class: "form-control category-search",style: "width: 23%;margin-right: 77%;", id: "place-select", required: true} %> <br />

    <div class="media" style="padding-left: 0px;">
      <div class="media-left">
        <%= collection_select :tour, :category_id, @categories, :id, :name,
           {prompt: "Select category"}, {class: "form-control category-search", id: "category", required: true} %> <br />
      </div>
      <div class="media-right">
        <%= collection_select :sub, :subcategory_id, @subcategories, :id, :name,
           {prompt: "Select subcategory"}, {class: "form-control category-search", id: "subcategory"} %> <br />
      </div>
    </div>
      <%= f.submit "submit", class: "btn btn-default" %>
  <% end %>
</div>
</div>
