<!-- Side navigation -->
<div class="sidenav">
  <div class="media">
    <%= link_to (image_tag "admin.png", class: "media-object", style: "width:60px;"), "#" %>
    <%= link_to current_user.name, current_user  %>
  </div>
  <div class="media">
    <div class="media-left">
      <%= link_to "Categories", admin_categories_path %>
    </div>
    <div class="media-body">
      <%= link_to (image_tag "plus.png"), admin_categories_path %>
    </div>
  </div>
  <div class="media">
    <div class="media-left">
      <%= link_to "Tours", "#" %>
    </div>
    <div class="media-body">
      <%= link_to (image_tag "plus.png"), admin_categories_path %>
    </div>
  </div>
  <div class="media">
    <div class="media-left">
      <%= link_to "Bookingtours", "#" %>
    </div>
    <div class="media-body">

    </div>
  </div>
</div>
<!-- Left-aligned -->
