<tr id="category-<%= category.id %>">
  <td class="text-center" id="name-<%= category.id %>"><%= category.name %></td>
  <td class="text-center"><%= l category.updated_at.localtime, format: :long %></td>
  <td class="text-center"><%= "nameuser" %></td>
  <td class="text-center"><%= "count tour" %></td>
  <td class="text-center">
    <%= link_to "#", class: "modal-edit",
      data: {toggle: "modal", target: "#name", id: category.id} do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
    <%= link_to "#", class: "btn-remove", data: {id: category.id} do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </td>
</tr>
