<header id="header" class="navbar-static-top">
   <div id="main-header">
      <div class="main-header" style="
          margin-top: -60px;
          border-top: solid red 17px;">
         <div class="container" style="position: relative;">
            <div class="logo navbar-brand" style="
                position: absolute;
                left:  -46px;
                bottom:  12px;">
               <%= link_to image_tag("logo.png", alt: "home logo"), "#" %>
            </div>
            <div class="header-menu-wrap" style="
                         padding-right: 81px;
                         width:  1124px;">
               <style type="text/css">
                  nav #main-menu .ul .li a {
                     text-decoration: none;
                  }
               </style>
               <nav id="main-menu" class="menu-main-menu-container">
                  <ul id="menu-main-menu" class="menu">
                     <li id="menu-item-1674" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-785 current_page_item menu-item-1674"><%= link_to t(".trangchu"), root_path %></li>
                     <li id="menu-item-1899" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1899"><%= link_to t(".gioithieu"), gioithieu_path %></li>
                     <li id="menu-item-1989" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1989 megamenu-menu">
                        <%= link_to t(".tour"), "#" %>
                        <div class="megamenu-wrapper light container" style="left: -404.25px; width: 1170px; display: block;">
                           <ul class="sub-menu megamenu">
                              <li id="menu-item-1990" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1990 megamenu-columns-1" style="width: 50%;">
                                  <%= link_to t(".tourtrongnuoc"), "#" %>
                                 <ul class="sub-menu ">
                                    <li id="menu-item-1992" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1992">
                                    <%= link_to t(".tourdanang"), "#", :class => "none" %></li>
                                 </ul>
                              </li>
                              <li id="menu-item-1991" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1991 megamenu-columns-1" style="width: 50%;">
                                 <%= link_to t(".tournuocngoai"), "#", :class => "none" %>
                                 <ul class="sub-menu ">
                                    <li id="menu-item-1995" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1995"><%= link_to t(".tourthailan"), "#", :class => "none" %></li>
                                 </ul>
                              </li>
                           </ul>
                        </div>
                     </li>
                     <li id="menu-item-1820" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1820"><%= link_to t(".lienhe-menu"), "#", :class => "none" %></li>
                     <% if is_loged_in? %>
                        <li><%= link_to t(".users"), users_path %></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <%= t ".account" %> <b class="caret"></b>
                          </a>
                          <ul class="dropdown-menu">
                            <li><%= link_to t(".profile"), current_user %></li>
                            <li><%= link_to t(".setting"), "#" %></li>
                            <li><%= link_to t(".history"), "#" %></li>
                            <li class="divider"></li>
                          </ul>
                        </li>
                        <li><%= link_to t(".logout"), logout_path, method: :delete %></li>
                      <% else %>
                        <li><%= link_to t(".login"), login_path %></li>
                        <li><%= link_to t(".signup"), signup_path %></li>
                      <% end %>
                  </ul>
               </nav>
               <div class="clearfix"></div>
            </div>
         </div>
         <!-- .container -->
      </div>
      <!-- .main-header -->
   </div>
</header>
