<header id="header" class="navbar-static-top">
   <div id="main-header">
      <div class="main-header" style="
          margin-top: -60px;
          border-top: solid red 17px;">
         <div class="container" style="position: relative;width: 100%;">
            <div class="logo navbar-brand" style="
                position: absolute;
                left:  2%;
                bottom:  12px;">
               <%= link_to image_tag("logo.png", alt: "home logo"), "#" %>
            </div>
            <div class="header-menu-wrap" style="
                         padding-right: 81px;
                         width:  1124px;">
               <style type="text/css">
                  nav #main-menu .ul .li a {
                     text-decoration: none;
                  }
               </style>
               <nav id="main-menu" class="menu-main-menu-container">
                  <ul id="menu-main-menu" class="menu">
                     <li id="menu-item-1674" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-785 current_page_item menu-item-1674"><%= link_to t(".trangchu"), root_path %></li>
                     <li id="menu-item-1899" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1899"><%= link_to t(".gioithieu"), gioithieu_path %></li>
                     <li id="menu-item-1989" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1989 megamenu-menu">
                        <%= link_to t(".tour"), tours_path %>

                     </li>
                     <% if user_signed_in? %>
                        <li id="menu-item-1989" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1989 megamenu-menu">
                        <%= link_to current_user.name, "#" %>
                        <div class="megamenu-wrapper light container" style="width: 100px; display: block; font-size: 15px;">
                                 <ul class="sub-menu " style="background-color: gray;">
                                    <li><%= link_to t(".profile"), "#", :class => "none" %></li>
                                    <li><%= link_to t(".setting"), "#", :class => "none" %></li>
                                    <li><%= link_to t(".history"), "#", :class => "none" %></li>
                                    <% if can? :manage, User %>
                                      <li><%= link_to t(".users"), "#" %></li>
                                    <% end %>
                                    <li><%= link_to t(".booked"), bookingtours_show_path, :class => "none" %></li>
                                 </ul>
                        </div>
                     </li>
                        <li><%= link_to t(".logout"), destroy_user_session_path, method: :delete %></li>
                      <% else %>
                        <li><%= link_to t(".login"), new_user_session_path %></li>
                        <li><%= link_to t(".signup"), new_user_registration_path %></li>
                      <% end %>
                  </ul>
               </nav>
               <div class="clearfix"></div>
            </div>
         </div>
         <!-- .container -->
      </div>
      <!-- .main-header -->
   </div>
</header>
