<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".logo_link"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("pages.home.title"), root_path %></li>

        <li><%= link_to t("pages.help.title"), "#" %></li>
        <li><%= link_to t("layouts.header.users"), "#" %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t ".account_link" %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t(".prof_link"), "#" %></li>
            <li><%= link_to t(".sett_link"), "#" %></li>
            <li class="divider"></li>
          </ul>
        </li>
        <li><%= link_to t(".logout_link"), logout_path, method: :delete %></li>
      </ul>
    </nav>
  </div>
</header>
