<!DOCTYPE html>
<html>
  <head>
    <title><%= t ".title" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body class="home page-template page-template-templates page-template-template-home page-template-templatestemplate-home-php page page-id-785 wpb-js-composer js-comp-ver-5.1.1 vc_responsive">
    <div class="page-wrapper">
      <%= render "layouts/header" %>
      <%= yield %>
      <%= render "layouts/footer" %>
      <%= render "layouts/hiden" %>
    </div>
  </body>
</html>
